[
    {rabbitmq_auth_backend_ldap, [
        {group_lookup_base, "OU=Groups,DC=bakken,DC=io"},
        % NOTE: this works
        % {vhost_access_query, {in_group_nested, "cn=Rabbit_Users,ou=Groups,dc=bakken,dc=io" } },

        % Does not work without case-insensitive match
        % {vhost_access_query, {in_group_nested, "CN=Rabbit_${vhost},ou=Groups,dc=bakken,dc=io" } },

        {vhost_access_query, {in_group, "CN=RABBITUSERS,OU=Groups,DC=bakken,DC=io" } },
        {topic_access_query, {constant, true } },
        {resource_access_query, {constant, true } },
        {tag_queries, [
            {administrator,
                {in_group,
                    "CN=AllUsers,OU=Groups,DC=bakken,DC=io"
                }
            },
            {monitoring,
                {in_group_nested,
                    "cn=Monitor,ou=Groups,dc=bakken,dc=io"
                }
            },
            {management,
                {in_group_nested,
                    "cn=Mgmt,ou=Groups,dc=bakken,dc=io"
                }
            }
        ]}
    ]}
].
